.p-about {
  &_intro {
    img {
      max-width: 100%;
    }
    &Head {
      text-align: center;
      font-weight: bold;
      margin-bottom: 50px;
      p {
        margin-bottom: 10px;
        font-size: 1.6rem;
        color: #153f6f;
      }
      h3 {
        font-size: 3.2rem;
        font-family: $font-family-jp-serif;
      }
    }
    &Content {
      display: flex;
      figure {
        flex: 0 0 570px;
      }
    }
    figure {
      position: relative;
      z-index: 1;
    }
    &Right {
      background-color: #fff;
      padding: 45px 60px 45px 120px;
      margin-top: 60px;
      margin-left: -60px;
    }
  }
  &_group {
    &Content {
      background-color: #fff;
      margin: 0 25px;
      padding: 125px 100px;
    }
    &Items {
      margin-bottom: 47.5px;
      &:last-child {
        margin-bottom: 0;
      }
      h4 {
        font-size: 1.7rem;
        font-weight: bold;
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        &:before {
          background-color: #153f6f;
          width: 17px;
          height: 17px;
          content: "";
          position: absolute;
          border-radius: 50%;
          left: 0;
          top: 5px;
        }
      }
      dl {
        border-bottom: 1px solid #707070;
        display: flex;
        padding: 22.5px 10px;
        font-size: 1.5rem;
        font-weight: bold;
        dt {
          flex: 0 0 200px;
        }
      }
    }
  }
  &_history {
    &Content {
      background-color: #fff;
      margin: 0 25px;
      padding: 100px;
    }
    &Time {
      dl {
        display: flex;
        font-size: 1.5rem;
        margin-bottom: 50px;
        dt {
          flex: 0 0 125px;
          position: relative;
          &:after {
            right: 0;
            content: "";
            bottom: -50px;
            width: 1px;
            background-color: #707070;
            top: 0;
            position: absolute;
          }
        }
        dd {
          padding-left: 75px;
          position: relative;
          &:before {
            background-color: #153f6f;
            width: 10px;
            height: 10px;
            content: "";
            position: absolute;
            border-radius: 50%;
            left: -6px;
            top: 5px;
          }
          h4 {
            font-size: 1.75rem;
            font-weight: bold;
            margin-bottom: 15px;
          }
        }
        &:first-child {
          dt {
            &:after {
              top: -20px;
              bottom: -70px;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
          dt {
            &:after {
              height: 15px;
            }
          }
        }
      }
    }
  }
}
