.p-column {
    img {
        max-width: 100%;
        display: block;
    }
    .c-mainTitle {
        background: #F8F8F8;
        padding: 50px 0;
    }
    .c-pagenation {
        padding: 70px 0;
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 0 5px;
                a {
                    width: 29px;
                    height: 29px;
                    border: 1px solid #CCCCCC;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: #3B3C3E;
                    font-weight: bold;
                    font-family: YuGothicM;
                    font-size: 1.4rem;
                }
                &.is-active,
                &:hover {
                    a {
                        color: #fff;
                        background-color: #153F6F;
                        border-color: #153F6F;
                    }
                }
            }
        }
    }
    .c-tlt04 {
        font-size: 1.6rem;
        font-weight: bold;
        color: #fff;
        background-color: #153F6F;
        text-align: center;
        margin-bottom: 15px;
        padding: 15px 0;
    }
    .c-list {
        &__cat {
            li {
                padding: 20px 0;
                border-bottom: 1px solid #A9A8A8;
                a {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #333;
                    text-decoration: none;
                    padding-left: 15px;
                }
            }
        }
        &__tag {
            display: flex;
            flex-wrap: wrap;
            padding: 0 50px 0 30px;
            li {
                background-color: #E1E1E1;
                margin-right: 15px;
                border-radius: 5px;
                margin-bottom: 10px;
                a {
                    padding: 5px 12px;
                    color: #333333;
                    font-size: 1.4rem;
                    text-decoration: none;
                    display: block;
                }
            }
        }
        &__01 {
            border: 1px solid #ADADAD;
            padding: 20px;
            margin-bottom: 20px;
            li {
                margin-bottom: 5px;
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                position: relative;
                &::before {
                    content: "";
                    width: 7px;
                    height: 7px;
                    background-color: #333333;
                    display: block;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }
    &__list {
        display: flex;
        .item {
            width: 32%;
            margin-right: 2%;
            position: relative;
            &:nth-child(3n) {
                margin-right: 0;
            }
            a {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .txt {
                padding: 25px 0;
                .date-cat {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }
                .date {
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: #8E8E8E;
                    margin-right: 24px;
                }
                .cat {
                    background-color: #D3F6FF;
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: #333333;
                    padding: 2px 5px;
                }
                .title {
                    font-size: 1.9rem;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
                .content {
                    font-size: 1.4rem;
                }
            }
        }
    }
    &__01 {
        padding: 45px 30px;
        background-color: #fff;
        margin-bottom: 50px;
        .c-tlt03 {
            margin-bottom: 40px;
            font-size: 2.5rem;
            font-weight: bold;
            color: #333333;
            border-bottom: 2px solid #707070;
            position: relative;
            padding-bottom: 15px;
            &::after {
                content: "";
                width: 20%;
                height: 2px;
                display: block;
                background-color: #153F6F;
                position: absolute;
                bottom: -2px;
            }
        }
    }
    &__02,
    &__03 {
        display: flex;
        justify-content: space-between;
    }
    &__03 {
        margin-top: 30px;
    }
    &__main {
        width: 750px;
        max-width: 750px;
        padding: 5px 35px 40px;
        background-color: #fff;
        margin-bottom: 50px;
        .p-column {
            &__list {
                flex-wrap: wrap;
            }
        }
        .item {
            width: 100%;
            margin-right: 0;
            display: flex;
            justify-content: space-between;
            padding: 35px 0;
            border-bottom: 1px solid #D5D5D5;
            .image {
                width: 35%;
            }
            .txt {
                width: 60%;
                padding: 0;
                .date {
                    font-size: 1.2rem;
                }
                .title {
                    font-size: 1.8rem;
                    margin-bottom: 15px;
                    line-height: 29px;
                }
            }
        }
    }
    &__post {
        width: 750px;
        max-width: 750px;
        padding: 40px;
        background-color: #fff;
        margin-bottom: 75px;
        .box {
            .date-cat {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
            .date {
                font-size: 1.4rem;
                font-weight: bold;
                color: #8E8E8E;
                margin-right: 20px;
            }
            .cat {
                background-color: #D3F6FF;
                font-size: 1.4rem;
                font-weight: bold;
                color: #333333;
                padding: 2px 10px;
            }
            &__title {
                font-size: 3.2rem;
                font-weight: bold;
                margin-bottom: 50px;
            }
            .c-list__tag {
                padding-left: 0;
                margin-bottom: 25px;
            }
            &__image {
                margin-bottom: 20px;
            }
            h2 {
                font-size: 2.4rem;
                font-weight: bold;
                color: #fff;
                background-color: #153F6F;
                padding: 8px 20px;
                margin-bottom: 20px;
                line-height: 32px;
            }
            h3 {
                font-size: 2rem;
                font-weight: bold;
                line-height: 27px;
                background-color: #ECECEC;
                padding: 6px 20px;
                margin-bottom: 20px;
            }
            h4 {
                padding: 3px 15px;
                border-left: 4px solid #153F6F;
                font-size: 1.8rem;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: 1.5rem;
                line-height: 27px;
                margin-bottom: 50px;
                text-align: justify;
            }
            ol {
                border: 1px solid #ADADAD;
                padding: 20px 20px 20px 35px;
                list-style: decimal;
                margin-bottom: 50px;
                li {
                    font-size: 1.5rem;
                    margin-bottom: 5px;
                }
            }
            &__author {
                background-color: #F8F8F8;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 25px 30px 25px 15px;
                margin-bottom: 50px;
                .image {
                    width: 13.5%;
                }
                .profile {
                    width: 83%;
                    &__name {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        .job {
                            font-size: 1.6rem;
                            position: relative;
                            display: flex;
                            align-items: center;
                            &::after {
                                display: block;
                                width: 1px;
                                height: 15px;
                                margin: 0 10px;
                                background-color: #333333;
                                content: "";
                            }
                        }
                        .name {
                            font-size: 1.3rem;
                        }
                    }
                    .content {
                        font-size: 1.4rem;
                        line-height: 25px;
                        text-align: justify;
                    }
                }
            }
        }
    }
    .c-title {
        font-size: 1.9rem;
        font-weight: bold;
        line-height: 28px;
        padding-bottom: 15px;
        border-bottom: 1px solid #B1B1B1;
        margin-bottom: 25px;
    }
    &__slider {
        margin-bottom: 70px;
        .p-column {
            &__list {
                .slick-list {
                    border-top: 1px solid #9F9F9F;
                    border-bottom: 1px solid #9F9F9F;
                }
                .item {
                    padding: 10px;
                    margin-right: 0;
                    display: flex;
                    justify-content: space-between;
                    &.slick-current {
                        position: relative;
                        &::after {
                            content: "";
                            width: 1px;
                            height: 70px;
                            background-color: #B0B0B0;
                            display: block;
                        }
                    }
                    .image {
                        padding-left: 30px;
                        width: 40%;
                    }
                    .txt {
                        width: 54%;
                        padding: 0;
                        .content {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                        }
                    }
                    &:nth-child(even) {
                        flex-direction: row-reverse;
                        .image {
                            padding-left: 0;
                            padding-right: 30px;
                        }
                    }
                }
                .slick-next,
                .slick-prev {
                    width: 35px !important;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 100%;
                    background: #153F6F;
                    border: none;
                    padding: 0;
                    color: transparent;
                    z-index: 1;
                    cursor: pointer;
                }
                .slick-prev {
                    left: 0;
                    &::before {
                        content: '';
                        border: solid #fff;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 8px;
                        transform: rotate( 135deg) translateY(-7px);
                    }
                }
                .slick-next {
                    right: 0;
                    &::before {
                        content: '';
                        border: solid #fff;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 8px;
                        transform: rotate(-45deg) translate(-7px);
                    }
                }
            }
        }
    }
    &__New-Article,
    &__wellRead-Article,
    &__related-Article {
        .p-column {
            &__list {
                .txt {
                    .date {
                        font-size: 1rem;
                        color: #333333;
                    }
                    .title {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    &__related-Article {
        .p-column {
            &__list {
                flex-wrap: wrap;
                .item {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    .image {
                        width: 30%;
                    }
                    .txt {
                        width: 67%;
                        padding: 0;
                        .title {
                            margin-bottom: 30px;
                        }
                    }
                    .c-list__tag {
                        padding: 0;
                        li {
                            margin-right: 10px;
                            a {
                                position: unset;
                                font-size: 1.2rem;
                                padding: 3px 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .l-sidebar {
        .p-column {
            &__list {
                flex-wrap: wrap;
                padding: 0 15px;
                .item {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    .image {
                        width: 43%;
                        position: relative;
                        .number {
                            font-size: 1.5rem;
                            font-weight: bold;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &__yl {
                                background-color: #FFF601;
                            }
                            &__gray {
                                background-color: #BEBDBD;
                            }
                            &__brown {
                                background-color: #A0620A;
                            }
                            &__gray-dark {
                                background-color: #333333;
                            }
                        }
                    }
                    .txt {
                        width: 53%;
                        padding: 0;
                        .date {
                            font-size: 1.2rem;
                            color: #333333;
                        }
                        .title {
                            font-size: 1.8rem;
                            margin-bottom: 15px;
                            line-height: 29px;
                        }
                        .content {
                            font-weight: bold;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
    .l-commonNew-Article {
        background-color: #fff;
        margin-bottom: 45px;
    }
    .l-formSearch {
        background-color: #fff;
        margin-bottom: 30px;
        form {
            padding: 15px;
            position: relative;
            input {
                width: 100%;
                outline: none;
                border: 1px solid #BEBDBD;
                border-radius: 30px;
                padding-left: 15px;
                height: 50px;
                position: relative;
                font: 400 16px "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
                ;
            }
            button {
                background: transparent;
                border: none;
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                img {
                    width: 22px;
                    height: 22px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .l-commonPopular-Article {
        background-color: #fff;
        margin-bottom: 30px;
    }
    .l-common {
        &Categories {
            background-color: #fff;
            margin-bottom: 35px;
            padding-bottom: 30px;
            .c-tlt04 {
                margin-bottom: 0;
            }
        }
        &Tag {
            background-color: #fff;
            padding-bottom: 30px;
            .c-tlt04 {
                margin-bottom: 25px
            }
        }
    }
}