.p-recruit {
  background-color: #fff;
  &Block {
    padding-left: 32.5px;
    padding-right: 32.5px;
    @include mq(lg, max) {
      padding-left: 27px;
      padding-right: 27px;
    }
    @include mq(md, max) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &Head {
    display: flex;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #153f6f;
      color: #fff;
      font-weight: bold;
      font-size: 1.6rem;
      border-right: 1px solid #fff;
      width: calc(100% / 3);
      height: 60px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:last-child {
        border-right: none;
      }
      &.is-active, &:hover {
        background-color: #fff;
        color: #153f6f;
      }
      @include mq(md, max) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  &Content {
    padding: 70px 67.5px;
    h3 {
      font-size: 2.4rem;
      font-weight: bold;
      border-left: 4px solid #153f6f;
      padding-left: 13px;
      line-height: 1;
      margin-bottom: 50px;
    }
    dl {
      display: flex;
      padding: 22.5px 10px;
      border-bottom: 1px solid #707070;
      font-weight: bold;
      font-size: 1.5rem;
      &:first-child {
        border-top: 1px solid #707070;
      }
      dt {
        flex: 0 0 210px;
      }
      dd {}
    }
  }
  &Btn {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    a {
      background-color: #153f6f;
      color: #fff;
      border-radius: 4px;
      width: 377px;
      height: 72.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.75rem;
      border: 1px solid #153f6f;
      transition: all 0.3s ease-in-out;
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        right: 15px;
        width: 4px;
        height: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background: url(../../images/common/icon_arrow_white.svg) no-repeat right center;
        background-size: 4px auto;
        content: "";
      }
      &:hover {
        background-color: #fff;
        color: #153f6f;
        svg {
          fill: #153f6f;
        }
      }
    }
    svg {
      fill: #fff;
      width: 24px;
      margin-right: 10px;
    }
  }
}