.p-qa{
    &__faq{
        display: flex;
        justify-content: space-between;
        margin: 48px 0 51px;
        padding-left: 27px;
        padding-right: 41px;
        a{
            display: block;
            padding: 24px 0;
            border: 2px solid #153f6f;
            color: #153f6f;
            font-size: 1.6rem;
            font-weight: 600;
            text-decoration: none;
        }
    }
    &__content{
        background-color: #fff;
        margin-left: 27px;
        margin-right: 41px;
        padding: 79px 103px;
    }
}
/* =========================================================
list - リストのオブジェクト
========================================================= */
.c-qa-list{
    margin-bottom: 75px;
    &__title{
        position: relative;
        padding-top: 31px;
        margin-bottom: 29px;
        border-top: 2px solid #C3C3C3;
        &:after{
          content: '';
          height: 2px;
          width: 166px;
          position: absolute;
          top: -2px;
          background-color: #153f6f;
        }
        p{
          font-size: 2rem;
          font-weight: 500;
          font-weight: 700;
        }
    }
}
/* =========================================================
navigation - グローバルナビなど
========================================================= */
.c-tab{
    flex-basis: 255px;
    text-align: center;
    // &:hover{
    //     a{
    //         background-color: #153f6f;
    //         color: #fff !important;
    //     }
    // }
}

.is-focused {
    background-color: #153f6f;
    color: #fff !important;
}

.c-qa{
    margin-bottom: 17px;
    &__question{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 34px 16px 28px;
      border: 1px solid #C3C3C3;
      cursor: pointer;
      &--icon{
        margin-right: 16px;
        font-weight: bold;
        font-size: 2rem;
      }
      &--text{
        flex-grow: 1;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }
    &__answer{
      display: none;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 90px 67px 31px;
      background-color: #F4F6FA;
      border: 1px solid #C3C3C3;
      cursor: pointer;
      &--icon{
        margin-right: 16px;
        font-weight: bold;
        font-size: 2rem;
        color: #153F6F;
      }
      &--text{
        flex-grow: 1;
        padding-top: 6px;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }