@charset "UTF-8";
/* ==================================================
	basic layout
================================================== */
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, meiryo, sans-serif;
  height: 100%;
  font-size: 1.4rem;
  width: 100%;
  position: relative;
  letter-spacing: 2px;
  background: #f9f9f9;
  word-break: break-all;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* close commented backslash hack */
* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a {
  transition: all 0.3s ease;
  color: #333;
  font-size: 1.6rem;
}
a:hover {
  opacity: 0.7;
}

.bold {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}

code, div, form, p, span, a, h1, h2, h3, h4, h5, h6, strong, input, textarea, select, dl, dt, dd, ul, li, ol, b, i, u, table, tr, td, th, blockquote, pre, em, figure, figcaption, caption, tbody, article, tfoot, thead {
  font-size: 1.6rem;
  color: #333;
}

code {
  font-weight: normal;
}

em {
  font-style: italic;
}

abbr[title], dfn[title] {
  border-bottom: none;
  text-decoration: unset;
}

.textlimit {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
}

.textline__1 {
  line-height: 20px;
  max-height: 20px;
  -webkit-line-clamp: 1;
}

.textline__2 {
  line-height: 20px;
  max-height: 40px;
  -webkit-line-clamp: 2;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

/* --- クイックタグ追加 --- */
/* Color class
---------------------------------------------------- */
.pink {
  color: #e87291;
}

/* Font class
---------------------------------------------------- */
/* ==================================================
  Common
================================================== */
#wrapper {
  position: relative;
}

#wrapper.openMenu main, #wrapper.openMenu .h-logo, #wrapper.openMenu .common_notice {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .container {
    width: 95%;
  }
}

.container-wd {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.c-link {
  color: #307fb8;
  font-size: 1.2rem;
  text-decoration: underline;
  text-align: right;
  font-weight: 400;
  display: block;
  margin-top: 20px;
}

.pd100 {
  padding: 100px 0;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pd100 {
    padding: 50px 0;
  }
}
/* ========== end △ */

.pdt100 {
  padding-top: 100px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pdt100 {
    padding-top: 50px;
  }
}
/* ========== end △ */

.pd50 {
  padding: 50px 0;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pd50 {
    padding: 25px 0;
  }
}
/* ========== end △ */

.pdt50 {
  padding-top: 50px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pdt50 {
    padding-top: 25px;
  }
}
/* ========== end △ */

.pdb50 {
  padding-bottom: 50px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pdb50 {
    padding-bottom: 25px;
  }
}
/* ========== end △ */

.section-main {
  padding: 50px;
  background: #fff;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .section-main {
    padding: 40px 20px;
  }
}
/* ========== end △ */

.c-tltEn {
  display: flex;
  justify-content: center;
}
.c-tltEn h2 {
  font-size: 2rem;
  color: #2e323f;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  border-bottom: 1px solid #9ea1ac;
  display: inline-block;
  padding-bottom: 20px;
}
.c-tltEn span {
  color: #ce121b;
  font-size: 2rem;
}

.c-tltJa p {
  padding: 40px 0 30px;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

.page-tlt--sub {
  font-size: 1.4rem;
  letter-spacing: 0.2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: bold;
  display: block;
}
.page-tlt--txt {
  font-size: 2.4rem;
  line-height: 1.7;
  letter-spacing: 0.07em;
  padding-bottom: 40px;
}
.page-tlt--txt:after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: #333;
  margin-top: 20px;
}

/* ==================================================
  Header
================================================== */
.common_notice {
  background-color: #1f1f1f;
  padding: 12px 0;
  text-align: center;
  line-height: 1;
}
.common_notice ._icon {
  background-image: url("../img/info_ico.svg");
  width: 18px;
  height: 18px;
  background-size: cover;
  display: inline-block;
  margin-right: 9px;
  vertical-align: bottom;
}
.common_notice ._txt {
  display: inline-block;
  line-height: 16px;
  font-size: 1.4rem;
  color: #fff;
  margin: 0 !important;
}

.l-header {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}
.l-header--main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-header--main {
    height: 60px;
    align-items: center;
  }
}
/* ========== end △ */
.l-header.openMenu {
  /*
  .menu_icon_bar:before{
    transform: rotate(135deg);
    top: 0;
  }
  .menu_icon_bar:after{
    transform: rotate(-135deg);
    top: 0;
  }*/
}
.l-header.openMenu .h-menu {
  right: 0;
}
.l-header.openMenu .menu_icon_line span {
  top: 50%;
}
.l-header.openMenu .menu_icon_line span:first-child {
  transform: rotate(45deg);
}
.l-header.openMenu .menu_icon_line span:nth-child(2) {
  transform: rotate(135deg);
}

.h-logo a {
  display: flex;
  align-items: center;
}
.h-logo figure {
  padding: 10px 20px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-logo figure {
    padding: 10px;
  }
}
/* ========== end △ */
.h-logo img {
  height: 50px;
  width: auto;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-logo img {
    height: 30px;
  }
}
/* ========== end △ */

.h-menu {
  display: flex;
  align-items: center;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-menu {
    display: block;
    width: 90%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    z-index: 9999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}
/* ========== end △ */
.h-menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-menu ul {
    height: auto;
  }
}
/* ========== end △ */
.h-menu li {
  height: 100%;
  vertical-align: top;
  padding: 0 15px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-menu li {
    width: 100%;
    padding: 5px 0;
    height: auto;
    border-bottom: 1px solid #ebecec;
  }
}
/* ========== end △ */
.h-menu li._close {
  display: none;
  padding: 10px;
  background: #f6f7f7;
  cursor: pointer;
  align-items: center;
  font-weight: bold;
}
.h-menu li._close i {
  font-size: 2rem;
  margin-right: 10px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-menu li._close {
    display: flex;
  }
}
/* ========== end △ */
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-menu li._btn {
    padding: 5px 10px;
    border-bottom: none;
  }
  .h-menu li._btn a {
    margin-top: 10px;
  }
}
/* ========== end △ */
.h-menu li._btn a {
  margin-top: 14px;
  padding: 0 17px;
  line-height: 40px;
  height: 40px;
  font-size: 1.2rem;
  letter-spacing: 0.15em;
  background: #2e323f;
  border-radius: 3px;
  color: #fff;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 51%, #ce121b 50%);
  transition: background-position 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.4s ease 0s, background-color 0.4s ease;
}
.h-menu li._btn a:before {
  content: none;
}
.h-menu li._btn a:hover {
  background-color: #ce121b;
  background-position: -100% 100%;
  opacity: 1;
}
.h-menu a {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 3px;
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .h-menu a {
    padding: 10px;
  }
}
/* ========== end △ */
.h-menu a:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #333;
  position: absolute;
  bottom: 0;
  right: 100%;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.h-menu a:hover:before {
  right: 0;
}

.menu_sp {
  display: none;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .menu_sp {
    display: flex;
    height: inherit;
  }
}
/* ========== end △ */

.menu_icon {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ce121b;
}
.menu_icon__menu {
  background: #2e323f;
}
.menu_icon__inner {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}
.menu_icon_line {
  position: relative;
}
.menu_icon_line span {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  transition: 0.2s linear;
}
.menu_icon_line span:nth-child(1) {
  top: calc(50% - 5px);
  left: 0;
}
.menu_icon_line span:nth-child(2) {
  top: calc(50% + 5px);
  left: 0;
}
.menu_icon_txt {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #fff;
}
.menu_icon i {
  color: #fff;
  font-size: 2rem;
}

/* menu_icon
-------------------------------------------------- */
/*.menu_icon {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 40px;
    height: 40px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: #e5e5e5;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}
@include media(sp) {
    .menu_icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.menu_icon_bar {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
}
.menu_icon_bar:before,
.menu_icon_bar:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    left: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.menu_icon_bar:before {
    top: -5px;
}
.menu_icon_bar:after {
    top: 5px;
}*/
/* ==================================================
  footer
================================================== */
.l-footer {
  background: #f4f4f4;
  margin-top: 85px;
  padding-top: 45px;
  position: relative;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-footer {
    margin-top: 40px;
  }
}
/* ========== end △ */
.l-footer01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f-logo {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.f-gnav {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .f-gnav {
    display: none;
  }
}
/* ========== end △ */
.f-gnav--items {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  overflow: hidden;
  line-height: 1.4em;
}
.f-gnav--items .parent {
  font-size: 1.4rem;
  color: #2e323f;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-bottom: 15px;
  margin-bottom: 13px;
  border-bottom: 1px solid #ddd;
  display: block;
}
.f-gnav--items a {
  font-size: 1.3rem;
  color: #777;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.f-copyright {
  line-height: 1.8;
  font-size: 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  background: #2e323f;
  padding: 15px 0;
  text-align: center;
  position: relative;
}

.f-menu {
  max-width: 1200px;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  position: relative;
}
.f-menu ul {
  text-align: right;
  padding: 25px 0 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.f-menu li:last-child a:after {
  display: none;
}
.f-menu a {
  font-size: 1.2rem;
  color: #2e323f;
  padding-left: 20px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.f-menu a:after {
  content: "|";
  padding-left: 20px;
}

#toc_container {
  padding: 2em 2em 2em !important;
  min-width: 90%;
  margin: auto;
  background: #fff !important;
  border: 1px solid #eee;
}

div#toc_container {
  width: 100% !important;
  margin-bottom: 30px;
}

#toc_container ul {
  margin: 0 !important;
  border: none;
}

#toc_container li a {
  display: block;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
  color: inherit;
}

#toc_container li li a {
  padding-left: 0.7em;
}

#toc_container a {
  text-decoration: none;
  text-shadow: none;
}

#toc_container p.toc_title {
  position: relative;
  padding: 0 65px;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media (max-width: 768px) {
  #toc_container p.toc_title + ul.toc_list {
    padding-bottom: 1em;
  }
}
.c-single .toc_toggle, .page-layout .toc_toggle {
  font-size: 0 !important;
  top: 50%;
  left: calc(100%);
  height: 26px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-indent: -9999px;
}

.c-single .toc_toggle a, .page-layout .toc_toggle a {
  position: absolute;
  right: 0;
  top: 0;
  text-indent: 0;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  line-height: 1;
  font-size: 10px;
  color: #bbbbbb;
  background-color: #F2F2F2;
  padding: 9px 0px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  min-width: 60px;
}

.c-single .toc_toggle a:after, .page-layout .toc_toggle a:after {
  display: none;
}

#toc_container.no_bullets li, #toc_container.no_bullets ul, #toc_container.no_bullets ul li, .toc_widget_list.no_bullets, .toc_widget_list.no_bullets li {
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.c-single .date {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 4px;
}

.author-info {
  background: #fff !important;
  border: 1px solid #eee;
  margin-bottom: 30px;
}
.author-info .head {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}
.author-info .head:after {
  content: "";
  transform: rotate(90deg);
  position: absolute;
  font-family: "fontello";
  top: 25px;
  right: 10px;
  transition: 0.2s ease;
}
.author-info .head.is-active:after {
  transform: rotate(-90deg);
}
.author-info .avatar {
  margin-right: 10px;
  background: transparent;
  border-radius: 50%;
}
.author-info .avatar img {
  width: 45px;
}
.author-info .name {
  font-weight: bold;
  font-size: 1.5rem;
}
.author-info .content {
  padding: 15px;
  display: none;
  border-top: 1px solid #eee;
}
.author-info .content p {
  font-size: 1.3rem;
  margin-bottom: 0;
}

/*
Layout
---------------------------------------------------- */
.layout__col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media print, screen and (max-width: 768px) {
  .layout__col .layout__col__main {
    max-width: 100%;
  }

  .layout__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.layout__col .layout__col__main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: calc(97% - 300px);
}

.layout__col .layout__col__sub {
  max-width: 300px;
  width: 32%;
  margin-left: 3%;
}

body:not(.home) main {
  margin-bottom: 50px;
}

@media print, screen and (max-width: 768px) {
  .layout__col .layout__col__main {
    max-width: 100%;
  }

  .layout__col .layout__col__sub {
    margin-top: 60px;
    width: 100%;
    margin-left: 0;
    max-width: inherit;
  }
}
@media print, screen and (min-width: 769px) {
  .layout__col.has_sidebar_fixed .layout__col__sub {
    position: fixed;
    right: calc((100% - 1200px) / 2);
  }

  .layout__col.has_sidebar_absolute .layout__col__sub {
    position: absolute;
    right: 0;
  }
}
@media print, screen and (max-width: 768px) {
  .layout__col .layout__col__sub {
    margin-top: 60px;
    margin-left: 0;
    max-width: 100%;
  }
}
/* ==================================================
breadcrumb（パンくず）
================================================== */
#breadcrumb.none .container {
  display: none;
}

#breadcrumb {
  background: #f5f6f7;
  margin-bottom: 30px;
}

#breadcrumb ul {
  overflow: hidden;
  height: auto;
  text-overflow: ellipsis;
  line-height: 1.2;
  padding: 10px 0;
}

#breadcrumb ul li {
  display: inline;
  white-space: normal;
  font-size: 1.2rem;
}

#breadcrumb ul li * {
  font-size: 1.2rem;
  line-height: 1.5;
}

#breadcrumb ul li a {
  display: inline;
  vertical-align: middle;
  color: #333;
}

#breadcrumb ul li a:after {
  font-family: fontello;
  content: "";
  padding: 0 10px;
}

/* ==================================================
Previous - Next in Single
================================================== */
.pre-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .pre-next {
    margin: 20px 0;
  }
}
.pre-next li {
  position: relative;
  border: 0 solid #ddd;
  border-width: 1px 1px 1px 0;
  font-size: 14px;
  list-style: none;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pre-next li:first-child {
  border-width: 1px;
}

.pre-next li:before {
  font-size: 1.4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}

.pre-next li a {
  color: #fff;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pre-next li a {
    justify-content: center;
  }
}
/* ========== end △ */
.pre-next li a .image {
  width: 120px;
  overflow: hidden;
}
.pre-next li a .image .thumb {
  width: 100%;
  padding-top: 60%;
  position: relative;
}
.pre-next li a .image .thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .pre-next li a .image {
    display: none;
  }
}
/* ========== end △ */
.pre-next li a span {
  flex: 1;
  margin: 0 10px;
  font-size: 1.4rem;
  max-height: 40px;
  -webkit-line-clamp: 2;
}

@media (max-width: 767px) {
  .pre-next li a {
    padding: 10px 40px;
  }

  .pre-next li a span {
    display: none;
  }
}
.pre-next .pre-post:before {
  left: 10px;
}

@media (max-width: 767px) {
  .pre-next .pre-post a:before {
    content: attr(data-prev);
  }
}
.pre-next .next-post:before {
  right: 10px;
}

.pre-next .next-post a {
  text-align: right;
  width: 100%;
}

@media (max-width: 767px) {
  .pre-next .next-post a:before {
    content: attr(data-next);
  }
}
.pre-next .pre-post a {
  padding-right: 20px;
}
.pre-next .pre-post a span {
  margin-right: 0;
  margin-left: 15px;
}
.pre-next .next-post a {
  padding-left: 20px;
}
.pre-next .next-post a span {
  margin-left: 0;
  margin-right: 15px;
}

.l-arrow:before {
  content: "";
}

.r-arrow:before {
  content: "";
}

/* ==================================================
pagination
================================================== */
.wp-pagenavi {
  text-align: center;
  width: 100%;
  display: block;
  margin: 40px 0;
}

.wp-pagenavi a {
  background: #f6f6f6;
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 667px) {
  .wp-pagenavi .inner {
    width: 90%;
    margin: 0 5%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: 46px;
  }

  .wp-pagenavi .page-of {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    position: absolute;
    left: 37%;
    width: 26%;
    font-weight: bold;
    color: #fff;
    background: #2C2D2F;
    height: 46px;
    line-height: 46px;
    font-size: 1.3rem;
  }

  .wp-pagenavi .m-prev {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
    width: 15%;
    position: absolute;
    left: 0%;
  }

  .wp-pagenavi .pn-prev {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 22%;
    position: absolute;
    left: 15%;
  }

  .wp-pagenavi .pn-next {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 22%;
    position: absolute;
    left: 63%;
  }

  .wp-pagenavi .m-next {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
    width: 15%;
    position: absolute;
    left: 85%;
  }

  .wp-pagenavi a {
    line-height: 46px;
    height: 46px;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
.wp-pagenavi .pages {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.wp-pagenavi .page-of {
  display: block;
  width: 100%;
  color: #000;
  text-align: center;
  margin-bottom: 2em;
}

.wp-pagenavi a, .wp-pagenavi .current {
  display: inline-block;
  padding: 0 1.5em;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
}

.wp-pagenavi a, .wp-pagenavi .page {
  display: inline-block;
  padding: 0 1.5em;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
}

.wp-pagenavi .current {
  background: #ababab;
  color: #fff;
}

.wp-pagenavi a:hover {
  background: #ababab;
  color: #fff;
}

.pagination {
  text-align: center;
  width: 100%;
  display: block;
}

.pagination a {
  border: 1px solid #eee;
  color: #333;
  text-decoration: none;
}

/* スマホ　*/
@media only screen and (max-width: 667px) {
  .pagination .inner {
    width: 90%;
    margin: 0 5%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: 46px;
  }

  .pagination .page-of {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    position: absolute;
    left: 37%;
    width: 26%;
    font-weight: bold;
    color: #fff;
    background: #2C2D2F;
    height: 46px;
    line-height: 46px;
    font-size: 1.2rem;
  }

  .pagination .m-prev {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
    width: 15%;
    position: absolute;
    left: 0%;
  }

  .pagination .pn-prev {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 22%;
    position: absolute;
    left: 15%;
  }

  .pagination .pn-next {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    width: 22%;
    position: absolute;
    left: 63%;
  }

  .pagination .m-next {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
    width: 15%;
    position: absolute;
    left: 85%;
  }

  .pagination .current, .pagination .pn-numbers {
    display: none;
  }

  .pagination a {
    line-height: 46px;
    height: 46px;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
/* PC */
@media only screen and (min-width: 668px) {
  .pagination .page-of {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .pagination a, .pagination .current {
    display: inline-block;
    padding: 0 1.5em;
    font-weight: bold;
    line-height: 42px;
    height: 42px;
    font-size: 1.2rem;
    margin: 0 2px;
  }

  .pagination .current {
    background: #2C2D2F;
    color: #fff;
  }

  .pagination a:hover {
    background: #2C2D2F;
    color: #fff;
    opacity: 1;
  }
}
/* ==================================================
Fontello
================================================== */
.fontello {
  position: relative;
}
.fontello:before, .fontello:after {
  font-family: fontello;
}

/* ==================================================
Contact Form 7
================================================== */
.wpcf7-response-output {
  font-size: 1.2rem !important;
}

.wpcf7-not-valid {
  background: #ffb6c1 !important;
}

span.wpcf7-not-valid-tip {
  font-size: 1rem !important;
}

.wpcf7 .wpcf7-validation-errors {
  color: #B94A48;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

div.wpcf7-validation-errors {
  border: 1px solid #f00;
  color: #f00;
  background: #F2DEDE;
  padding: 10px;
}

div.wpcf7-mail-sent-ok {
  background: #e6faeb;
  border: 1px solid #159867;
  color: #159867;
  padding: 10px;
}

/* ==================================================
Button
================================================== */
.pre-next {
  margin-top: 100px;
}

/* ==================================================
c-single
================================================== */
.c-single h2 {
  font-size: 2.6rem;
  line-height: 1.65;
  font-weight: 700;
  padding-bottom: 9px;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
}
.c-single h3 {
  line-height: 1.38;
  background: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 2.1rem;
  padding: 20px 17px 20px;
}
.c-single h4 {
  font-size: 2rem;
  line-height: 1.38;
  display: flex;
  margin-bottom: 30px;
  padding-left: 20px;
  border-left: 5px solid #333;
}
.c-single h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.c-single h6 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.c-single p {
  margin-bottom: 20px;
}
.c-single blockquote {
  padding: 30px;
  border: 1px solid #666;
  position: relative;
  margin-bottom: 30px;
  background: #fff;
}
.c-single blockquote:before, .c-single blockquote:after {
  font-family: fontello;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  color: #666;
}
.c-single blockquote:before {
  content: "";
  top: -6px;
  left: -6px;
}
.c-single blockquote:after {
  content: "";
  bottom: -6px;
  right: -6px;
}
.c-single blockquote p {
  margin-bottom: 0 !important;
}
.c-single code {
  background-color: #eee;
  padding: 0px 5px 0px;
  border-radius: 2px;
  margin: 0 5px;
  border: solid 1px #bbb;
  color: #333;
  font-size: 1.6rem;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 30px;
}
.c-single ul, .c-single ol {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02);
  background: #fff;
  margin-bottom: 30px;
}
.c-single ul {
  list-style: disc;
}
.c-single ol {
  list-style: decimal;
}
.c-single table {
  border-collapse: collapse;
  border-radius: 3px 3px 0 0;
}
.c-single .wp-block-table.aligncenter {
  width: 100%;
}
.c-single thead th {
  background: #333333;
  border-color: #DDD !important;
  color: #fff;
  font-weight: 400;
  padding: 18px 20px;
  font-size: 1.5rem;
  line-height: 1.6;
  border-bottom: 1px solid #DDDDDD !important;
  border-right: 1px solid #DDDDDD !important;
  border-top: 1px solid transparent !important;
  vertical-align: middle;
}
.c-single thead th:first-child {
  border-radius: 3px 0 0 0;
}
.c-single thead th:last-child {
  border-radius: 0 3px 0 0;
}
.c-single table tr {
  background: #fff !important;
  border-color: #DDD !important;
  border-bottom: 1px solid #DDDDDD;
}
.c-single table td {
  padding: 15px;
  border: 1px solid #DDDDDD;
  font-size: 1.5rem;
  line-height: 1.6;
  border-color: #DDD !important;
  vertical-align: middle;
}

/* ==================================================
  l-mv
================================================== */
.l-mv--main {
  position: relative;
}
.l-mv--slide figure {
  overflow: hidden;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-mv--slide figure {
    height: auto;
  }
}
/* ========== end △ */
.l-mv--slide figure img {
  height: auto;
  width: 100%;
  object-fit: cover;
  min-height: 550px;
  margin-top: -200px;
}
@media screen and (max-width: 1200px) {
  .l-mv--slide figure img {
    margin-top: -100px;
  }
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-mv--slide figure img {
    margin-top: 0;
    min-height: 300px;
  }
}
/* ========== end △ */
.l-mv--tlt {
  position: absolute;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  bottom: 55px;
  margin: 0 auto;
  right: 0;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .l-mv--tlt {
    width: 95%;
  }
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-mv--tlt {
    bottom: 10px;
  }
}
/* ========== end △ */
.l-mv--tlt ._en {
  display: block;
  text-align: center;
  /* padding: 15px 10px; */
}
.l-mv--tlt ._en span {
  display: inline-block;
  background: #153F6F;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
  .l-mv--tlt ._en span {
    font-size: 3rem;
  }
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-mv--tlt ._en span {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.13em;
    margin-bottom: 5px;
  }
}
/* ========== end △ */
.l-mv--tlt ._en span:last-child {
  margin-bottom: 0;
}

/* ==================================================
  l-news
================================================== */
.l-news--tlt h2 {
  border-bottom: 1px solid #ebebeb;
  color: #2e323f;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.l-news--tlt h2 span {
  padding-right: 18px;
  font-size: 2.1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: block;
}
.l-news--main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l-news--content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  padding: 25px 35px 50px;
  background: #fff;
  position: relative;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-news--content {
    width: 100%;
  }
}
/* ========== end △ */

.c-newsList ._items {
  margin-top: 15px;
  font-size: 1.4rem;
  padding: 0 15px 0 0px;
  position: relative;
  height: 54px;
}
.c-newsList ._items time {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  padding-bottom: 2px;
  display: block;
  font-size: 1.2rem;
  padding-top: 10px;
}
.c-newsList ._items a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 3px;
  line-height: 1.6;
  text-decoration: underline;
  font-size: 1.4rem;
}

/* ==================================================
  l-vision
================================================== */
.l-vision {
  background: #e8e8e8;
}
.l-vision--txt {
  margin-top: 60px;
  max-width: 715px;
  margin: 60px auto 30px auto;
  text-align: center;
}
.l-vision--txt p {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.02em;
}
.l-vision--video {
  max-width: 800px;
  height: 450px;
  margin: 40px auto 0;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-vision--video {
    height: 300px;
  }
}
/* ========== end △ */
.l-vision--video iframe {
  width: 100%;
  height: inherit;
}

/* ==================================================
  l-map
================================================== */
.l-map--main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.l-map .content-link {
  width: 32%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-map .content-link {
    width: 100%;
  }
}
/* ========== end △ */
.l-map .content-link ._items {
  margin-bottom: 30px;
}
.l-map--bot .content-link {
  width: 100%;
}
.l-map--bot .content-link ._items {
  width: 32%;
}
.l-map--bot .content-link ._items:not(:nth-child(3n)) {
  margin-right: 2%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-map--bot .content-link ._items {
    width: 100%;
  }
}
/* ========== end △ */
.l-map .gmap {
  width: 66%;
  background: #000;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-map .gmap {
    width: 100%;
    height: 300px;
    margin-top: 30px;
  }
}
/* ========== end △ */
.l-map .gmap iframe {
  width: 100%;
  height: 100%;
}

.content-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-link ._items {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: 220px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .content-link ._items {
    width: 100%;
  }
}
/* ========== end △ */
.content-link ._items a {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.content-link ._items img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content-link ._items h3 {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  position: absolute;
  left: 40px;
  top: 35%;
  color: #fff;
  z-index: 1;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.content-link ._items span {
  padding-right: 18px;
  font-size: 2.1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: block;
  padding-bottom: 8px;
  color: #fff;
}
.content-link ._items:last-child {
  margin-bottom: 0;
}

/* ==================================================
  l-line
================================================== */
.l-line--main {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.l-line .c-tltEn {
  width: 100%;
}
.l-line .c-tltJa p {
  padding-top: 0;
}
.l-line--txt {
  max-width: 400px;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 0.06rem;
}
.l-line--btn {
  text-align: left;
  margin-top: 35px;
}
.l-line--btn a {
  display: inline-block;
  position: relative;
  min-width: 130px;
  padding: 0 45px;
  line-height: 40px;
  background: #ce121b;
  border-radius: 2px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  font-size: 1.2rem;
  font-weight: 700;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 52%, #20242f 50%);
  transition: background-position 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.4s ease 0s, background-color 0.4s ease;
}
.l-line--box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-line--img {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
}
/* ========== end △ */
.l-line--img img {
  max-width: 170px;
  width: 100%;
  height: auto;
}

/* ==================================================
  l-corp
================================================== */
.l-corp--main {
  margin-top: 40px;
  background: #fff;
  padding: 30px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-corp--main {
    padding: 30px 20px;
  }
}
/* ========== end △ */
.l-corp--tlt h2 {
  text-align: center;
  color: #004362;
  font-size: 2rem;
  padding-bottom: 20px;
  margin-top: 20px;
}
.l-corp--list {
  display: flex;
  flex-wrap: wrap;
}
.l-corp--list ._items {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  margin: 0 auto;
  border: none;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-corp--list ._items:last-child {
    padding-bottom: 0;
  }
}
/* ========== end △ */
.l-corp--list ._items-img {
  width: 256px;
  margin-right: 16px;
  max-width: none;
  border: solid 1px #eee;
  position: relative;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-corp--list ._items-img {
    width: 100%;
    height: 200px;
    margin-right: 0;
  }
}
/* ========== end △ */
.l-corp--list ._items-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-possition: center;
}
.l-corp--list ._items-inner {
  flex: 1;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-corp--list ._items-inner {
    margin-top: 20px;
  }
}
/* ========== end △ */
.l-corp--list ._items-inner p {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.l-corp--list ._items-inner p a {
  color: #d14d4f;
  text-decoration: underline;
  font-weight: 700;
}

/* ==================================================
  l-VisualPage
================================================== */
.l-visualPage {
  background-image: url("../img/mv_page.jpg");
  text-align: center;
  max-height: 300px;
  height: 28vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.l-visualPage--main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.l-visualPage--tlt ._en {
  font-size: 2.8rem;
  letter-spacing: 0.2em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.l-visualPage--tlt ._ja {
  font-size: 1.1rem;
  letter-spacing: 0.07em;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.page-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-nav li {
  padding: 5px 30px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .page-nav li {
    padding: 5px 15px;
  }
}
/* ========== end △ */

.tabanchor_link {
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  display: block;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}
.tabanchor_link.active {
  border-color: inherit;
}

.page-content h4 {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 1.7rem;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .page-content h4 {
    font-size: 1.4rem;
  }
}
/* ========== end △ */
.page-content h4:first-child {
  margin-top: 0;
}
.page-content h4:before {
  content: "";
  background: #ccc;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  margin-right: 10px;
}
.page-content figure {
  margin-bottom: 30px;
  line-height: 0;
}
.page-content figure iframe {
  height: 450px;
  width: 100%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .page-content figure iframe {
    height: 300px;
  }
}
/* ========== end △ */

.c-txt {
  margin-bottom: 30px;
}
.c-txt:last-child {
  margin-bottom: 0;
}

.c-tb dl {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-tb dl:first-child dt {
    padding-top: 0;
  }
}
/* ========== end △ */
.c-tb dt {
  width: 25%;
  padding: 25px 15px;
  font-weight: normal;
  vertical-align: middle;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-tb dt {
    width: 100%;
    font-weight: bold;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 1.4rem;
  }
}
/* ========== end △ */
.c-tb dd {
  flex: 1;
  padding: 25px 15px;
  font-weight: normal;
  vertical-align: middle;
  padding-left: 0px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-tb dd {
    padding-top: 10px;
    font-size: 1.4rem;
  }
}
/* ========== end △ */

.c-serviceFlame {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 60px 0;
}
.c-serviceFlame:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;
}
.c-serviceFlame:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: #333;
  width: 32px;
}
.c-serviceFlame ._image {
  width: 50%;
}
.c-serviceFlame ._image figure {
  margin-bottom: 0;
}
.c-serviceFlame ._image img {
  width: 100%;
  height: auto;
}
.c-serviceFlame ._inner {
  flex: 1;
  padding-right: 32px;
  padding-left: 32px;
}
.c-serviceFlame ._inner h4 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.c-serviceFlame ._inner li {
  font-size: 1.6rem;
  color: #333;
}

.c-serviceList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.c-serviceList:last-child {
  margin-bottom: -20px;
}
.c-serviceList ._items {
  width: 48%;
  background: #fff;
  margin-bottom: 20px;
  border: 3px solid #153F6F;
  position: relative;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-serviceList ._items {
    width: 100%;
    border-width: 2px;
  }
}
/* ========== end △ */
.c-serviceList ._items_ttl {
  min-height: 80px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-serviceList ._items_ttl {
    min-height: 100%;
  }
}
/* ========== end △ */
.c-serviceList ._items a {
  display: block;
  padding: 25px 40px 40px;
}
@media screen and (max-width: 1200px) {
  .c-serviceList ._items a {
    padding: 25px;
  }
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-serviceList ._items a {
    padding: 20px 15px;
  }
}
/* ========== end △ */
.c-serviceList ._items .title01 {
  text-align: center;
  margin-bottom: 5px;
}
.c-serviceList ._items .title01 p {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  color: #153F6F;
  padding-top: 0;
}
.c-serviceList ._items .title01 p:before {
  content: "";
  font-family: fontello;
  font-size: 2rem;
  color: #153F6F;
  display: inline-block;
  margin-right: 5px;
}
.c-serviceList ._items .title02 {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
}
.c-serviceList ._items p {
  width: 95%;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
  font-size: 1.4rem;
  color: #333;
}

.c-content--link .content-link ._items {
  width: 30%;
}

.c-news ._items {
  padding-right: 0;
  height: auto;
  padding: 20px;
}
.c-news ._items:hover {
  background: #333;
}
.c-news ._items:hover time, .c-news ._items:hover a {
  color: #fff;
}
.c-news ._items:last-child {
  margin-bottom: 0;
}
.c-news ._items time {
  font-size: 1.3rem;
  padding-top: 0;
  padding-bottom: 4px;
  letter-spacing: 0.15em;
  display: block;
}
.c-news ._items a {
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-size: 1.6rem;
  text-decoration: underline;
}

.l-contact ._form {
  max-width: 1000px;
  width: 100%;
  padding-bottom: 100px;
}
.l-contact ._form dl {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.l-contact ._form dt {
  flex: 0 0 300px;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: bold;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-contact ._form dt {
    flex: inherit;
    width: 100%;
    margin-bottom: 15px;
  }
}
/* ========== end △ */
.l-contact ._form dt.require {
  position: relative;
}
.l-contact ._form dt.require:after {
  content: "必須";
  font-size: 1.4rem;
  background: #f94f5e;
  padding: 3px 5px;
  color: #fff;
}
.l-contact ._form dd {
  flex: 1;
}
.l-contact ._form dd input {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  border: 2px solid #ddd;
  font-size: 1.6rem;
}
.l-contact ._form ._submit-btn {
  text-align: center;
}
.l-contact ._form ._submit-btn span {
  background: #ce121b;
  display: inline-block;
  max-width: 300px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  border-radius: 50px;
  margin-top: 60px;
  font-weight: bold;
  position: relative;
}
.l-contact ._form ._submit-btn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  border: none;
  background: transparent;
}

/* MW WP Form
--------------------------------------------------------*/
.mw_wp_form .is-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

.mw_wp_form .error {
  font-size: 1.2rem !important;
  line-height: 1.8 !important;
  color: #B70000 !important;
  display: block !important;
  margin-top: 5px;
}

/* 06-22-2020 */
.tabcontent {
  display: none;
}

.timeline li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.timeline-date {
  width: 65px;
  float: left;
  margin-top: 10px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.timeline-content {
  width: 75%;
  float: left;
  border-left: 3px #eee solid;
  padding-left: 30px;
  padding-bottom: 25px;
}

.timeline-content:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #ce121b;
  position: absolute;
  left: 61px;
  top: 10px;
  border-radius: 100%;
}

.timeline-content p {
  line-height: 1.7;
  font-size: 1.3rem;
  padding-top: 5px;
  letter-spacing: 0.03em;
}

.timeline-content h3 {
  line-height: 1.6;
  font-size: 1.6rem;
  padding-top: 5px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
  .timeline-date {
    width: 55px;
    font-size: 1.2rem;
  }

  .timeline-content {
    width: 80%;
    padding-left: 24px;
    padding-bottom: 20px;
  }

  .timeline-content:before {
    width: 10px;
    height: 10px;
    left: 51px;
  }

  .timeline-content h3 {
    font-size: 1.4rem;
  }
}
.c-btn01 {
  width: 450px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: 1px solid #2E323F;
  border-radius: 4px;
  position: relative;
}
.c-btn01:before {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

@media screen and (min-width: 1101px) {
  .page-recruit .section-main {
    padding: 50px 150px;
  }
}
.page-recruit .section-main .btnList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page-recruit .section-main .btnList .c-btn01 {
  width: 48%;
  margin-bottom: 20px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .page-recruit .section-main .btnList .c-btn01 {
    width: 100%;
  }
}
/* ========== end △ */

.c-breadcrumb_wr {
  position: absolute;
  left: 10px;
  bottom: 10px;
  right: 0;
}

.c-breadcrumb {
  display: flex;
  align-items: center;
  background: #153F6F;
  line-height: 1;
  padding: 5px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-breadcrumb {
    padding: 5px;
  }
}
/* ========== end △ */
.c-breadcrumb li {
  display: flex;
  align-items: center;
}
.c-breadcrumb a {
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-breadcrumb a {
    font-size: 1rem;
  }
}
/* ========== end △ */
.c-breadcrumb a:after {
  content: "";
  font-family: fontello;
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
  font-size: 1rem;
}
.c-breadcrumb span {
  color: #fff;
  font-size: 1.2rem;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-breadcrumb span {
    font-size: 1rem;
  }
}
/* ========== end △ */

.c-blockContent_ttl {
  font-size: 2.4rem;
  line-height: 1.7;
  letter-spacing: 0.07em;
  padding-bottom: 40px;
}

.page-member .c-memberList {
  margin-top: 20px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .page-member .c-memberList {
    margin-top: 10px;
  }
}
/* ========== end △ */

.c-memberList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-memberList .member {
  display: flex;
  position: relative;
  width: 47%;
  margin-bottom: 50px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-memberList .member {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
}
/* ========== end △ */
.c-memberList .member:before {
  /*content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;*/
}
.c-memberList .member:after {
  /*content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: #333;
  width: 32px;*/
}
.c-memberList .member_img {
  flex-shrink: 0;
  width: 30%;
  min-width: 120px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-memberList .member_img {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* ========== end △ */
.c-memberList .member_content {
  margin-left: 30px;
  flex: auto;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-memberList .member_content {
    margin-left: 0px;
  }
}
/* ========== end △ */
.c-memberList .member_content p {
  font-size: 1.4rem;
}
.c-memberList .member_title {
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-memberList .member_title {
    font-size: 1.8rem;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
/* ========== end △ */
.c-memberList .member_name {
  font-size: 1.8rem;
  color: #ccc;
  margin-bottom: 5px;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .c-memberList .member_name {
    font-size: 1.6rem;
  }
}
/* ========== end △ */

.l-youtube {
  padding: 50px 0;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-youtube {
    padding: 25px 0;
  }
}
/* ========== end △ */
.l-youtube .youtube-wr {
  display: flex;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-youtube .youtube-wr {
    flex-wrap: wrap;
  }
}
/* ========== end △ */
.l-youtube .youtube {
  width: 32%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-youtube .youtube {
    width: 100%;
    margin-bottom: 2%;
  }
  .l-youtube .youtube:last-child {
    margin-bottom: 0;
  }
}
/* ========== end △ */
.l-youtube .youtube:not(:nth-child(3n)) {
  margin-right: 2%;
}
/* ▽ PC-TAB layout ========== */
@media print, screen and (max-width: 768px) {
  .l-youtube .youtube:not(:nth-child(3n)) {
    margin-right: 0%;
  }
}
/* ========== end △ */
.l-youtube .youtube iframe {
  width: 100%;
  height: 250px;
}

.c-btn02 {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  background: #153F6F;
  border: 1px solid #153F6F;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
