/* =========================================================
media - 画像関係のコンポーネント
========================================================= */

// ---------------------------------------------------------------
//  ■画像のレスポンシブ化やトリミングなど
// ---------------------------------------------------------------

// ・画像をレスポンシブに可変させる
// --------------------
.c-responsive-img {
    display: block;
    height: auto;
    max-width: 100%;
}
