/* =========================================================
text - 共通のテキストなど
========================================================= */

// ---------------------------------------------------------------
//  ■基本となるテキスト
// ---------------------------------------------------------------

.c-txt {
  @include font-size(14);
  font-weight: 700;

  @include mq(lg, min) {
    @include font-size(16);
  }

  &--sm {
    @include font-size(12);

    @include mq(lg, min) {
      @include font-size(14);
    }
  }

  &--md {
    @include font-size(18);

    @include mq(lg, min) {
      @include font-size(22);
    }
  }

  &--lg {
    @include font-size(22);

    @include mq(lg, min) {
      @include font-size(32);
    }
  }

  &--xl {
    @include font-size(32);

    @include mq(lg, min) {
      @include font-size(48);
    }
  }

  &--xxl {
    @include font-size(48);

    @include mq(lg, min) {
      @include font-size(72);
    }
  }

  &--en {
    font-family: $font-family-en;
    font-weight: 900;
  }

  &__small {
    font-size: 80%;
  }

  &__link {
    text-decoration: none;
    color: $base-font-color;

    @include mq(md, min) {
      @include hover;
    }

    &--tel {
      @include mq(md, min) {
        pointer-events: none;
      }
    }
  }
  &--center {
    text-align: center;
  }
}
