@charset "UTF-8";
/* =========================================================
media - 画像関係のコンポーネント
========================================================= */
.c-responsive-img {
  display: block;
  height: auto;
  max-width: 100%; }
