@charset "utf-8";

// ==================================================
// 	variables settings
// ==================================================
// width
// --------------------------------------------------
$pc: 1000px;
$tab: 991px;
$sp: 768px;
$exSP: 639px;
// color
// --------------------------------------------------
$cP: #0099ba; // site basic color
$cS: #004db6; // site basic link color
$cL: #3B566E;
$black: #333;
$gray: #8e8e93;
$gray_tb: #f5f5f5;
$white: #fff;
$red: #ff3b30;
$pink: #ff2d55;
$orange: #ff9500;
$yellow: #ffcc00;
$blue: #007aff;
$lightblue: #5ac8fa;
$green: #4cd964;