/* =========================================================
breadcrumbs - パンくずリスト
========================================================= */
.c-breakcrumds {
  width: 100%;
  max-width: 1015px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  @include mq(lg, max) {
    height: 40px;
  }
  span,
  a {
    font-size: 1.1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  span[property="itemListElement"] {
    margin: 0 5px;
    color: #a2a2a2;
  }
  a {
    color: #a2a2a2;
    &:hover {
      color: #333;
    }
  }
}
