/* =========================================================
section - コンテンツの大枠
========================================================= */

// ---------------------------------------------------------------
//  ■コンテンツの大枠
//  グリッドシステムを使う際は必須です。
// ---------------------------------------------------------------
.l-container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    @include mq(xl, max) {
        padding: 0 15px;
    }
}
.l-container_small{
    max-width: 1015px;
    margin: 0 auto;
    width: 100%;
    @media only screen and (max-width: 1139px) {
        width: 95%;
    }
}
